@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atma&family=PT+Sans+Narrow&family=Smooch+Sans:wght@600&display=swap');
body{
    font-family:'Playfair Display', serif;
}
p{
    font-family: 'Atma', cursive;
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Smooch Sans', sans-serif;
}

.footer{
    /* height: 25vh; */
    /* display: flex; */
    align-items: center;
    text-align:center;
background-color:#168eca;
width:100%;
    /* justify-content: space-between; */
   }

.foot{
list-style:none;    /* flex-wrap: wrap; */
}
.icons{
    padding-right: 6%;
}
.text{
    text-align:justify;
}
.text_color{
    color:white;
text-decoration: none;
}
