@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
.nav {
  text-decoration: none;
}
.colr {
  margin: 0;
  padding: 0;
  color: #8ec63f;
  height: 8vh;
}
.log {
  border-radius: 50%;
}
.nav-link {
  color: #168eca !important;
}

.nav-link:hover {
  color: rgb(245, 49, 196) !important;
  text-decoration: none;
}

.nav {
  text-decoration: none;
}
.pink:hover {
  color: rgb(245, 49, 196) !important;
  text-decoration: none;
}

.log {
  border-radius: 50%;
}

.bl {
  color: #168eca !important;
  text-decoration: none;
}
.dropdown-toggle::after {
  content: none;
}
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}
