/* .card{
    height:70vh ;
} */
.card-img{
    height:70vh ;
    weight: 70vh ;
}
.card-img-overlay{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* font-family:serif; */
    color: #168eca;
} 
.im{
    display: flex!important;
    flex-direction: row-reverse;
}
/* .courses{
    height:100%!important;
} */
/* .container{
    padding: 6rem;
    /* margin-left: 12rem; */
    /* display: flex;
    justify-content: center; */

/* } */ 
 .instractor{
    /* border-radius: 50%; */
    justify-content: center!important;
    display: flex!important;
    flex-direction: column;
    align-items: center;
}
.desc{
    text-align: justify;
    /* color:#168eca; */
}
.colorr{
    color:white!important;
}
/* .slid{
    height: inherit;
} */

/* .boback{
    background: linear-gradient(-45deg,#168eca,#ee4a8b);
    animation: gradient 15s ease infinite;
   }
   @keyframes gradient {
       0% {
           background-position: 0% 50%;
       }
       50% {
           background-position: 100% 50%;
       }
       100% {
           background-position: 0% 50%;
       } */ 
/* } */

/* news */
.new{
align-items:center;
text-align:justify;
}
.new2{
    text-align: center;
    color:#168eca;
}

.bord{
    border:1px ridge rgb(240, 191, 229);
}