.card{

    height:80vh ;
}
.card-img{
    height:80vh ;
}
.card-img-overlay{
    padding: 1rem;
    /* border-radius: calc(.25rem - 1px); */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
